

body{
	margin: 0;
	padding: 0;
}


section{
	background-color: gray;
	margin-bottom: 10px;
}

.cell{
	min-height: 100px;
	background-color: navy;
	margin: 10px 0px;
}

.red{
	background-color: red;
}

.border{
	margin-bottom: 5px;
}